body {
	margin: 0;
	font-family: arial;
	font-size: 11pt;
}

.app {
	margin: auto;
	text-align: center;
}

.header {
	width: 100%;
	height: 35px;
	padding: 5px;
	padding-top: 10px;

	background-color: orange;
	font-weight: bold;
	color: white;
	border-bottom: 2px outset white;
	box-sizing: border-box;
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}