.profile {
	margin: auto;
	text-align: center;
	max-width: 700px;
	margin-top: 15px;
	border: 2px inset white;
}

.invalidUser {
	margin: 5px;
	margin-top: 15px;
	padding: 5px;
	font-weight: bold;
}

.label {
	float: left;
	width: 125px;
	text-align: left;
	font-weight: bold;
}

.stats {
	float: left;
	margin: 5px;
	width: 305px;
}

.profilePicture {
	width: 150px;
	float: left;
	margin: 5px;
}

.userName {
	float: left;
}

.realName {
	float: left;
}

.repos {
	float: left;
	margin: 5px;
	padding: 5px;
	margin-left: 15px;
	border: 2px inset black;
}

.repo {

}

.repoTitle {
	font-weight: bold;
	width: 100%;
	background-color: yellow;
	margin-bottom: 5px;
}

.bio {
	float: left;
}

.memberSince {
	float: left;
}

.email {
	float: left;
}

.location {
	float: left;
}